# Modelo de Classifica√ß√£o (Youtube Video Dataset)
https://www.kaggle.com/datasets/rahulanand0070/youtubevideodataset

In [20]:
import pandas as pd
import numpy as np
import re

# NLTK
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer

# SKLearn
from sklearn.model_selection import train_test_split

## Prepara√ß√£o do Dataset

A partir do .csv informado, vamos preparar o dataset para os algoritmos. Nesse caso, vamos remover valores nulos e filtrar as colunas de interesse.

In [21]:
df = pd.read_csv('datasets/youtube_video_dataset.csv')
df.head()

,Title,Videourl,Category,Description
0,Madagascar Street Food!!! Super RARE Malagasy ...,/watch?v=EwBA1fOQ96c,Food,üé•GIANT ALIEN SNAIL IN JAPAN! ¬ª https://youtu.b...
1,42 Foods You Need To Eat Before You Die,/watch?v=0SPwwpruGIA,Food,This is the ultimate must-try food bucket list...
2,Gordon Ramsay‚Äôs Top 5 Indian Dishes,/watch?v=upfu5nQB2ks,Food,We found 5 of the best and most interesting In...
3,How To Use Chopsticks - In About A Minute üçú,/watch?v=xFRzzSF_6gk,Food,You're most likely sitting in a restaurant wit...
4,Trying Indian Food 1st Time!,/watch?v=K79bXtaRwcM,Food,HELP SUPPORT SINSTV!! Shop Our Sponsors!\r\nLa...

In [22]:
colunas = list()
for coluna in df.columns:
    colunas.append(coluna)
print("Colunas:", " ".join(colunas))
print("N√∫mero de Linhas:", df.shape[0])
# Removendo as colunas que n√£o s√£o interessantes (nesse caso, apenas importa "Title" e "Category")
df = df.iloc[:, [0, 2, 3]]
colunas = list()
for coluna in df.columns:
    colunas.append(coluna)
print("Colunas:", " ".join(colunas))
print("N√∫mero de Linhas com Valores Nulos:", df.isna().sum().sum())
# Retirando linhas com valores nulos 
df = df.dropna()
print("N√∫mero de Linhas Ap√≥s Remo√ß√£o de Nulos:", df.shape[0])
print("N√∫mero de Linhas com Valores Nulos (Verifica√ß√£o):", df.isna().sum().sum())

Colunas: Title Videourl Category Description
N√∫mero de Linhas: 11211
Colunas: Title Category Description
N√∫mero de Linhas com Valores Nulos: 83
N√∫mero de Linhas Ap√≥s Remo√ß√£o de Nulos: 11128
N√∫mero de Linhas com Valores Nulos (Verifica√ß√£o): 0

### Novo dataset com as colunas novas e valores removidos:

In [23]:
df

,Title,Category,Description
0,Madagascar Street Food!!! Super RARE Malagasy ...,Food,üé•GIANT ALIEN SNAIL IN JAPAN! ¬ª https://youtu.b...
1,42 Foods You Need To Eat Before You Die,Food,This is the ultimate must-try food bucket list...
2,Gordon Ramsay‚Äôs Top 5 Indian Dishes,Food,We found 5 of the best and most interesting In...
3,How To Use Chopsticks - In About A Minute üçú,Food,You're most likely sitting in a restaurant wit...
4,Trying Indian Food 1st Time!,Food,HELP SUPPORT SINSTV!! Shop Our Sponsors!\r\nLa...
...,...,...,...
11206,"art journal | shimmer sprays, stencils, collag...",Art&Music,Step by step video on creating an art journal ...
11207,Ar-Tea Collage * Mixed Media Art,Art&Music,"By: Ilene McInnes,\r\nMixed media Art and insp..."
11208,DIY Mixed Media Art Collage Greeting Cards / M...,Art&Music,Make your own Mixed Media Greeting Cards\r\n\r...
11209,Art Collage Process DecoJournal using Rice Pap...,Art&Music,Art Collage Process DecoJournal using Rice Pap...
11210,Journal Collage Process using Magazine Cut Out...,Art&Music,"Using magazine, scrapbook paper, recycled old ..."

Abaixo, foi verificado quantas categorias existem e qual a frequ√™ncia de cada categoria. Como √© poss√≠vel observar, a mais comum √© a de Viagem, enquanto a menos comum √© a de Hist√≥ria. Nesse caso, vamos mapear as classes aqui informadas para uma representa√ß√£o num√©rica.

In [24]:
df['Category'].value_counts()

travel blog           2200
Science&Technology    2074
Food                  1828
manufacturing         1699
Art&Music             1682
History               1645
Name: Category, dtype: int64

In [25]:
lista_categorias = df['Category'].value_counts().index.to_list()
dict_mapeamento = dict()
for i in range(len(lista_categorias)):
    dict_mapeamento[lista_categorias[i]] = i
df['Category'] = df['Category'].map(dict_mapeamento)
df.head()

,Title,Category,Description
0,Madagascar Street Food!!! Super RARE Malagasy ...,2,üé•GIANT ALIEN SNAIL IN JAPAN! ¬ª https://youtu.b...
1,42 Foods You Need To Eat Before You Die,2,This is the ultimate must-try food bucket list...
2,Gordon Ramsay‚Äôs Top 5 Indian Dishes,2,We found 5 of the best and most interesting In...
3,How To Use Chopsticks - In About A Minute üçú,2,You're most likely sitting in a restaurant wit...
4,Trying Indian Food 1st Time!,2,HELP SUPPORT SINSTV!! Shop Our Sponsors!\r\nLa...

## Cria√ß√£o do Vetor TFIDF

-- Atualizar texto

In [26]:
#import nltk
#nltk.download('punkt')
#https://datascience.stackexchange.com/questions/25004/text-classifier-with-multiple-bag-of-words
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

vectorizer = TfidfVectorizer() # acur√°cia 93% com Tfid, 92% com CountVectorizer

lista_stopwords = set(stopwords.words('english'))
ps = PorterStemmer()

vocabulario = list()

freq_idiomas = dict()

df['Title'] = df['Title'].apply(lambda x: x.lower()) # Tirando letras min√∫sculas
df['Title'] = df['Title'].apply(lambda x: re.sub("[^a-zA-Z]"," ", x)) # Filtrando s√≠mbolos

lista_frases = list()

for i, row in df.iterrows():
    lista_palavra = word_tokenize(row['Title'])
    lista_palavra.extend(word_tokenize(row['Description']))
    lista_novo_titulo = []
    for palavra in lista_palavra:
        if palavra not in lista_stopwords:
            palavra = ps.stem(palavra) # Stemming da palavra
            vocabulario.append(palavra)
            lista_novo_titulo.append(palavra)
    string = " ".join(lista_novo_titulo)
    lista_frases.append(string)
    df.at[i, 'Title'] = lista_novo_titulo

array_frases = np.array(lista_frases)
bag = vectorizer.fit_transform(array_frases)

ModuleNotFoundError: No module named 'langdetect'

## Separa√ß√£o do Dataset entre Treinamento e Teste

In [ ]:
categorias = df['Category'].values
X_train, X_test, y_train, y_test = train_test_split(bag, categorias, stratify=categorias, test_size=0.33)

## Regress√£o Log√≠stica

In [ ]:
# https://vitalflux.com/text-classification-bag-of-words-model-python-sklearn/
import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import cross_val_score

from sklearn.linear_model import LogisticRegression
from sklearn import metrics

lr = LogisticRegression(C=100.0, random_state=1, solver='lbfgs', multi_class='ovr')
scores = cross_val_score(lr, bag, categorias, cv=10, scoring='accuracy')
print("Acur√°cia da Regress√£o Log√≠stica: %0.2f%%" % (scores.mean()*100)) ## talvez botar desvio padrao .std *2?

### Matriz de Confus√£o

In [ ]:
# # https://www.jcchouinard.com/confusion-matrix-in-scikit-learn/
# import matplotlib.pyplot as plt
# from sklearn.metrics import confusion_matrix, plot_confusion_matrix

# cm = confusion_matrix(y_test, y_test_predict)
# plot_confusion_matrix(lr, x_test, y_test, cmap=plt.cm.Blues)
# plt.show()

## Gradiente Descendente Estoc√°stico

In [ ]:
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import learning_curve

sgd = SGDClassifier(loss='perceptron', learning_rate='optimal')
scores = cross_val_score(sgd, bag, categorias, cv=10, scoring='accuracy')
print("Acur√°cia do SGD: %0.2f%%" % (scores.mean()*100))
print("Desvio Padr√£o: ", scores.std()*2*100)

## Curva de Aprendizado

In [ ]:
train_sizes, train_scores, test_scores = learning_curve(estimator=lr, X=X_train, y=y_train, cv=10, train_sizes=np.linspace(0.1, 1.0, 10), n_jobs=1)
train_mean = np.mean(train_scores, axis=1)
train_std = np.std(train_scores, axis=1)
test_mean = np.mean(test_scores, axis=1)
test_std = np.std(test_scores, axis=1)

plt.plot(train_sizes, train_mean, color='blue', marker='o', markersize=5, label='Training Accuracy')
plt.fill_between(train_sizes, train_mean + train_std, train_mean - train_std, alpha=0.15, color='blue')
plt.plot(train_sizes, test_mean, color='green', marker='+', markersize=5, linestyle='--', label='Validation Accuracy')
plt.fill_between(train_sizes, test_mean + test_std, test_mean - test_std, alpha=0.15, color='green')
plt.title('Learning Curve')
plt.xlabel('Training Data Size')
plt.ylabel('Model accuracy')
plt.grid()
plt.legend(loc='lower right')
plt.show()